<nav class="navbar fixed-top">
    <div class="logo">ShopWise</div>
    <!-- <div>
        <input type="text" class="search" placeholder="Search Product">
        <button class="btn">Search</button>
    </div> -->
    <div class="search-box">
        <div class="input-box">
          <input type="text" class="search">
          <button class="btn" [routerLink]="['/description/:productId']"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      
    <ul class="ul">
        <li class="li" [routerLink]="['/products']">Home</li>
        <li class="li" [routerLink]="['/register']">SignUp</li>
        <li class="li" [routerLink]="['/register']">SignIn</li>
        <li class="li" [routerLink]="['/register']">Logout</li>
        <li class="li"><i class="cart fas fa-cart-plus"><small>({{cartItems}})</small></i></li>
    </ul>
    
</nav>
  
