<div class="register-auth">
    <div class="sign-up">
        <h2>Login</h2>
        <form #register="ngForm" class="common-form">
            <input type="text" ngModel class="form-input" name="name" placeholder="Enter Name">
            <input type="email" ngModel class="form-input" name="email" placeholder="Enter Email">
            <input type="password" ngModel class="form-input" name="password" placeholder="Enter Password">
            <button class="form-button">Login</button>
        </form>
    </div>
</div>