<!-- <div class="cart-page">
    <h2>Welcome to my Cart</h2>
    <div class="row">
        <div class="col sm-8 details">
            <ul>
                <li>
                    <img src="./assets/images/clothes-2.jpg" alt="">
                </li>
                <li>
                    <h5>Product name: hhhh</h5>
                </li>
                <li>
                    <h6>price 700₹</h6>
                </li>
                <li>
                    <span>quqntity: 8</span>
                </li>
                <li>
                    <button class="form-button">remove from cart</button>
                </li>
            </ul>

            <ul>
                <li>
                    <img src="./assets/images/clothes-2.jpg" alt="">
                </li>
                <li>
                    <h5>Product name: hhhh</h5>
                </li>
                <li>
                    <h6>price 700₹</h6>
                </li>
                <li>
                    <span>quqntity: 8</span>
                </li>
                <li>
                    <button class="form-button">remove from cart</button>
                </li>
            </ul>

            <ul>
                <li>
                    <img src="./assets/images/clothes-2.jpg" alt="">
                </li>
                <li>
                    <h5>Product name: hhhh</h5>
                </li>
                <li>
                    <h6>price 700₹</h6>
                </li>
                <li>
                    <span>quqntity: 8</span>
                </li>
                <li>
                    <button class="form-button">remove from cart</button>
                </li>
            </ul>

            <ul>
                <li>
                    <img src="./assets/images/clothes-2.jpg" alt="">
                </li>
                <li>
                    <h5>Product name: hhhh</h5>
                </li>
                <li>
                    <h6>price 700₹</h6>
                </li>
                <li>
                    <span>quqntity: 8</span>
                </li>
                <li>
                    <button class="form-button">remove from cart</button>
                </li>
            </ul>
        </div>

        <div class="col sm-4 summary">
            <h2>Summary</h2>
            <ul>
                <li>
                    <span>Amount</span><span>300₹</span>
                </li>
                <li>
                    <span>Tax</span><span>50₹</span>
                </li>
                <li>
                    <span>Discount</span><span>30₹</span>
                </li>
                
                <li>
                    <h4><span>Total Amount</span></h4> <h4><span>320₹</span></h4>
                </li>
            </ul>
        </div>
        
    </div>
</div> -->
<div class="card m-3 h-auto">
    <ul>
        <li>hey</li>
        
        <div *ngFor="let product of mainProducts">
          <h3>{{ product.itemName }}</h3>
          <p>Price: ${{ product.itemCost }}</p>
         </div>
    </ul>
</div>

  